html
    head
        title
            |Бенефис
        link(rel="stylesheet", href="css/bootstrap.css")
        link(rel="stylesheet", href="css/bootstrap-theme.css")
        link(rel="stylesheet", href="css/jquery.fancybox.min.css")
        link(rel="stylesheet", href="css/bundle.css")
        script(src="js/jquery-3.1.1.js")
        script(src="js/bootstrap.js")
        script(src="js/jquery.maskedinput.js")
        script(src="js/jquery.fancybox.min.js")
        script(src="js/proverka.js")

        script.
             
            $(function(){

            $('input[name=name]').bind('keyup input', function(){
                if(isTextOnly($(this).val()))
                    {
                        $(this).val('');
                    }
                
            });
            
            if ($(window).width() < '768')
                {
                   $('form').css({"height":"610px"});
                }


            var pattern = "[A-Za-z]|[А-Яа-я]{1,}";
              $("input[name=phone]").mask("+7 (999) 999-99-99");
              //-$("input[name=name]").mask("aaaa",{placeholder: ""});


                $('#my-modal').on('click', function(){
                    if(  $("input[name=phone]").val()  !=""  && $("input[name=name]").val() !="" ){
                        $('#my-modal').fancybox({
                            'transitionOut' : 'fade'
                        });
                    }
                    else
                    {
                        alert('Не все поля заполнены!');
                    }
                });
                    


            });

            
             $(window).resize(function() {
                
                /*
                if ($(window).width() >= '992' && $(window).width() <= '1200')
                    {
                       $('form').css({"height":"600px"});
                    }

                if ($(window).width() >= '768' && $(window).width() <= '992')
                    {
                       $('form').css({"height":"670px"});
                    }
                */
                if ($(window).width() < '768')
                    {
                       $('form').css({"height":"610px"});
                    }
                    

                });
            

    body
        .container
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12.master-class
                    h1
                        |Запишись на мастер-класс<br/>
                        |18 декабря 2016
            .row
                .col-lg-5.col-lg-offset-2.col-md-5.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-11.col-xs-offset-1
                    form()
                        .row.form-inner
                            h3
                                span
                                    |4000 руб. - 
                                |при оплате на кино-курсе
                            h1
                                span
                                    |1 800  
                                |руб.
                            h4
                                span
                                    |при брониваронии до &nbsp
                                .date    
                                    |&nbsp8&nbsp
                                span
                                    |&nbspдекабря
                            .bron
                                |Забронируй место 
                                span
                                    |прямо сейчас
                            .line
                                img(src="images/line.png", alt="")

                            //-input(type="text" name="name" placeholder="Имя" value="" class="col-lg-11 col-lg-offset-0 col-md-11 col-md-offset-0 col-sm-11 col-sm-offset-0 col-xs-11 col-xs-offset-0" maxlength="15"  onkeyup="return proverka(this);")
                            input(type="text" name="name" placeholder="Имя" value="" class="col-lg-11 col-lg-offset-0 col-md-11 col-md-offset-0 col-sm-11 col-sm-offset-0 col-xs-11 col-xs-offset-0" maxlength="15")

                            input(type="text" name="phone" placeholder="+7 (___) ___-__-__" value="" class="col-lg-11 col-lg-offset-0 col-md-11 col-md-offset-0 col-sm-11 col-sm-offset-0 col-xs-11 col-xs-offset-0" )
                            //-a(href="#hidden" id="my-modal")
                                |Забронировать
                            input(type="submit" name="send" value="Забронировать" class="col-lg-11 col-lg-offset-0 col-md-11 col-md-offset-0 col-sm-11 col-sm-offset-0 col-xs-11 col-xs-offset-0 my-modal" id="my-modal" href="#hidden")
                            //-button(class="col-lg-11 col-lg-offset-0 col-md-11 col-md-offset-0 col-sm-11 col-sm-offset-0 col-xs-11 col-xs-offset-0")
                                |Забронировать
            .row
                #hidden
                    h3
                        |Ваша заявка отправлена